.container{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
   }
   
   .m-top {
    margin-top: 5px;
   }

   .last-row {
       margin-top: 10px;
   }

   .login{
    align-self: center;
   }

   .login-button {
    float: right;
    background-color: #0f2862;
    color: #fff !important;
    border-color: #0f2862 !important;
    &:hover {
        background-color: #4f5f76 !important;
        border-color: #4f5f76 !important;
    }
}

.no-account {
    font-weight: bold;
}


.back {
    float: right !important;
    color: #fff !important;
}

a {
    color:#091f36 !important;
    &:hover {
        color:#4f5f76 !important;
    }
}