<div class="row" xmlns:https="http://www.w3.org/1999/xhtml">
      <div class="col-sm-12 col-md-3">
      </div>
    <div class="col-sm-12 col-md-6">
    </div>
    <div class="col-sm-12 col-md-3"></div>
  </div>

  <div class="spacer"></div>

  <div class="section-half image-bg">
    <div class="section-content">
    <h4 class="white" *ngIf="language == 'pt-br'">Bem-vindo à Abba Church Marlboro</h4>
    <h4 class="white" *ngIf="language == 'en'">Welcome to Abba Church Marlborough</h4>
  </div>
  <div class="banner-top">
    <div class="col center-align">
      <a class="social-media-icon" href="https://www.instagram.com/abbachurchmarlboro/" target="_blank">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
      <a class="social-media-icon" href="https://www.facebook.com/abbamarlboro/" target="_blank">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
      <a class="social-media-icon" href="https://www.youtube.com/channel/UC2DFjsjo_RxrTN9A1SyHgjQ" target="_blank">
        <i class="fa fa-youtube fa-2x"></i>
      </a>
      <span class="white">
        <a href="https://www.youtube.com/channel/UC2DFjsjo_RxrTN9A1SyHgjQ" target="_blank" *ngIf="language == 'pt-br'">
          Culto ao vivo</a>
        <a href="https://www.youtube.com/channel/UC2DFjsjo_RxrTN9A1SyHgjQ" target="_blank" *ngIf="language == 'en'">
          Online Service</a>
      </span>
      <span class="white">
      <a href="https://www.facebook.com/abbamarlboro/" target="blank">
        </a>
      </span>
    <span class="white">
      <a href="https://www.instagram.com/abbachurchmarlboro/" target="blank">
        </a>
    </span>
    </div>
  </div>
  </div>

<div class="container-fluid">
  <div class="row spacing">
    <div class="col-sm-12 col-md-6">
          <div class="card equal-h">
            <div class="card-body">
              <h4 *ngIf="language == 'pt-br'">Endereço</h4>
              <h4 *ngIf="language == 'en'">Address</h4>
              <span class="address">
              <a href="javascript:void(0);" (click)="openAddress()" class="address">
                86 Pleasant St. <br />
                Marlborough, MA </a> <br />
                </span>
              <span class="phone-num">
                            T: <a href="tel:508-282-9890">(508) 282-9890</a>
                            </span>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card equal-h">
        <div class="card-body">
          <h4 *ngIf="language == 'pt-br'">Dias de Culto</h4>
          <h4 *ngIf="language == 'en'">Service Schedule</h4>
          <div class="row">
            <div class="col-sm-12 col-md-2">
              <h6 *ngIf="language == 'pt-br'">Domingo</h6>
              <h6 *ngIf="language == 'en'">Sunday</h6>
            </div>
            <div class="col-sm-12 col-md-2">
              <h6 *ngIf="language == 'pt-br'">Segunda</h6>
              <h6 *ngIf="language == 'en'">Monday</h6>
            </div>
            <div class="col-sm-12 col-md-2">
              <h6 *ngIf="language == 'pt-br'">Quarta</h6>
              <h6 *ngIf="language == 'en'">Wednesday</h6>
            </div>
            <div class="col-sm-12 col-md-2">
              <h6 *ngIf="language == 'pt-br'">Sexta</h6>
              <h6 *ngIf="language == 'en'">Friday</h6>
            </div>
            <div class="col-sm-12 col-md-2">
              <h6 *ngIf="language == 'pt-br'">Sábado</h6>
              <h6 *ngIf="language == 'en'">Saturday</h6>
            </div>
            <div class="col-sm-12 col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- <div class="section-full light-grey">
    <div class="section-content">
    <h5 *ngIf="language == 'pt-br'">Dias de Culto</h5>
    <h5 *ngIf="language == 'en'">Service Schedule</h5>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <h6>Domingo</h6>
      </div>
      <div class="col-sm-12 col-md-2">
        <h6>Segundo-Feira</h6>
      </div>
      <div class="col-sm-12 col-md-2">
        <h6>Quarta-Feira</h6>
      </div>
      <div class="col-sm-12 col-md-2">
        <h6>Sexta-Feira</h6>
      </div>
      <div class="col-sm-12 col-md-2">
        <h6>Sábado</h6>
      </div>
      <div class="col-sm-12 col-md-2">
      </div>
    </div>
    </div>
  </div>-->

 <!--  <div class="section-full blue">
  </div> -->
<!--<div class="container-fluid">
  <div class="row top-nav">
    <div class="col">
      <a routerLink="/">
        <img src="../../assets/images/abba_logo_white.PNG" class="logo-image-nav">
      </a>
      <span class="church-title-text">Abba Church Marlboro</span>
    </div>
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <div class="card m-bottom">
        <div class="card-body">
          <h5 class="card-title" *ngIf="language=='pt-br'">Bem-vindo à Abba Church Marlboro</h5>
          <h5 class="card-title" *ngIf="language=='en-us'">Welcome to Abba Church Marlboro</h5>
          <p class="card-text c-address" *ngIf="language=='pt-br'">
            <span class="address-title">Endereço</span> <br />
            <a href="javascript:void(0);" (click)="openAddress()">
              86 Pleasant St. <br />
              Marlborough, MA </a> <br />
            <span class="phone-num">
                            T: <a href="tel:508-282-9890">(508) 282-9890</a>
                            </span>
          </p>
          <p class="card-text  c-address" *ngIf="language=='en-us'">
            <span class="address-title">Address</span> <br />
            <a href="javascript:void(0);" (click)="openAddress()">
              86 Pleasant St. <br />
              Marlborough, MA</a>  <br />
            <span class="phone-num">
                        P: <a href="tel:508-282-9890">(508) 282-9890</a>
                        </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card m-bottom">
        <div class="card-body">
          <iframe width="100%" height="375" src="https://www.youtube.com/embed/live_stream?channel=UC2DFjsjo_RxrTN9A1SyHgjQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
      <div class="card m-bottom">
        <div class="card-body">
          <h5 class="card-title" *ngIf="language=='pt-br'">Doação</h5>
          <h5 class="card-title" *ngIf="language=='en-us'">Donations</h5>
          <p class="card-text" *ngIf="language=='pt-br'">
            Você pode doar por mensagem de texto enviando a palavra "give" para (833) 331-3368 e siga as instruções fornecidas.
          </p>
          <p class="card-text" *ngIf="language=='en-us'">
            You can donate via text message by texting the word "give" to (833) 331-3368 and then follow the instructions provided.
          </p>
          <a (click)="openDonate()" class="btn btn-primary donate-button" *ngIf="language=='pt-br'">Doar (seguro)</a>
          <a (click)="openDonate()" class="btn btn-primary donate-button" *ngIf="language=='en-us'">Donate (secure)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2">
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card m-bottom">
        <div class="card-body social-media">
          <div class="row">
            <div class="col center-align">
              <a class="social-media-icon" (click)="openFb()">
                <i class="fa fa-facebook fa-2x"></i>
              </a>
              <a class="social-media-icon" href="https://www.youtube.com/channel/UC2DFjsjo_RxrTN9A1SyHgjQ" target="_blank">
                <i class="fa fa-youtube fa-2x"></i>
              </a>
              <a class="social-media-icon" href="https://www.instagram.com/abbachurchmarlboro/" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
    </div>
  </div>

  <div class="row">
                          <div class="col">
                              <a href="https://www.facebook.com/abbamarlboro/" target="_blank">
                                  <i class="fa fa-facebook fa-2x"></i>
                              </a>
                          </div>
                          <div class="col">
                              <a href="https://www.youtube.com/channel/UC2DFjsjo_RxrTN9A1SyHgjQ" target="_blank">
                                  <i class="fa fa-youtube fa-2x"></i>
                              </a>
                          </div>
                          <div class="col">
                              <a href="https://www.instagram.com/abbachurchmarlboro/" target="_blank">
                                  <i class="fa fa-instagram fa-2x"></i>
                              </a>
                          </div>
                      </div>-->
