/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fff; // #0f2862;
}

a {
    cursor: pointer !important;
}

.app-body {
    background-color: #E6E6E6;
    height: 100%;
    padding: 5px !important;
}

.logo-image-nav {
    height: 70px;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .site-content {
    flex: 1;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-h5, .mat-typography h5 {
    font: 400 calc(14px * 0.83)/20px Roboto, "Helvetica Neue", sans-serif;
    margin: 5 0 12px;
    padding-left: 15px !important;
    font-size: 18px;
}
