<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 *ngIf="language == 'pt-br'">Abba Church Marlboro</h4>
          <h4  *ngIf="language == 'en'">Abba Church Marlboro</h4>
          <button class="tithely-give-btn" style="background-color: #00DB72;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;" data-church-id="1302804">Give</button>
          <script src="https://tithe.ly/widget/v3/give.js?3"></script>
          <script>
            var tw = create_tithely_widget();
           </script>
        </div>
    </div>
    </div>
      <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 *ngIf="language == 'pt-br'">New Hope Boston</h4>
          <h4  *ngIf="language == 'en'">New Hope Boston</h4>
        </div>
      </div>
    </div>
  </div>
</div>
