<div class="container-fluid account-content">
    <div class="row">
        <div class="col-sm-12 col-md-3"></div>
      <div class="col-sm-12 col-md-6">
        <h5 *ngIf="action=='new' && language == 'pt-br'">Criar Nova Conta</h5>
        <h5 *ngIf="action=='new' && language == 'en'">Create New Account</h5>
        <h5 *ngIf="action=='edit' && language == 'pt-br'">Editar Conta</h5>
        <h5 *ngIf="action=='edit' && language == 'en'">Edit Account</h5>
      </div>
      <div class="col-sm-12 col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="email"  *ngIf="language == 'pt-br'">Endereço de e-mail</label>
                  <label for="email"  *ngIf="language == 'en'">Email Address</label>
                  <input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp"
                  placeholder="" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                  <small id="emailHelp" class="form-text text-muted" *ngIf="language == 'pt-br'">Nunca compartilharemos seu email com mais ninguém.</small>
                  <small id="emailHelp" class="form-text text-muted" *ngIf="language == 'en'">Never share your email with anyone</small>
                </div>
                <div class="form-group">
                    <label for="password1" *ngIf="language == 'pt-br'">Senha</label>
                    <label for="password1" *ngIf="language == 'en'">Password</label>
                    <input type="password" class="form-control form-control-sm" id="password1" aria-describedby="pwHelp"
                    placeholder="" [(ngModel)]="user.passWord" [ngModelOptions]="{standalone: true}">
                    <small id="pwHelp" class="form-text text-muted" *ngIf="language == 'pt-br'">Digite uma senha segura</small>
                    <small id="pwHelp" class="form-text text-muted" *ngIf="language == 'en'">Type a safe password</small>
                  </div>
                  <div class="form-group">
                    <!-- <label for="password2"></label> -->
                    <input type="password" class="form-control form-control-sm" id="password2" aria-describedby="pwHelp" placeholder="">
                    <small id="pwHelp" class="form-text text-muted" *ngIf="language == 'pt-br'">Digite a senha uma segunda vez</small>
                    <small id="pwHelp" class="form-text text-muted" *ngIf="language == 'en'">Type the password a second time</small>
                  </div>
                  <div class="form-group">
                    <label for="firstName" *ngIf="language == 'pt-br'">Primeiro nome</label>
                    <label for="firstName" *ngIf="language == 'en'">First name</label>
                    <input class="form-control form-control-sm" id="firstName" aria-describedby="nameHelp" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="lastName" *ngIf="language == 'pt-br'">Último nome</label>
                    <label for="lastName" *ngIf="language == 'en'">Last name</label>
                    <input class="form-control form-control-sm" id="lastName" aria-describedby="nameHelp" placeholder="">
                  </div>
                <div class="form-group">
                    <label for="phone" *ngIf="language == 'pt-br'">Número de telefone</label>
                  <label for="phone" *ngIf="language == 'en'">Telephone number</label>
                    <input class="form-control form-control-sm" id="phone" aria-describedby="phoneHelp" placeholder="">
                  </div>
                <button type="submit" (click)="createAccount()" class="btn btn-primary submit-button" *ngIf="language == 'pt-br'">Criar Conta</button>
                <button type="submit" (click)="createAccount()" class="btn btn-primary submit-button" *ngIf="language == 'en'">Create Account</button>
              </form>
              </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-3"></div>
    </div>
</div>
