.row-50 {
    width: 50% important;
}

.top {
margin-top: 15px;
}

.greeting {
    color: #000; //#0f2862;
    margin-left: 15px;
}

.section-full {
    width: 100%;
    height: 200px;
}

.spacer{
    margin-top: 5px;
}

.grey {
    background-color: #0099CC;
}

.light-grey {
    background-color: #0099CC;
}

.blue {
    background-color:#0099CC;
}
