
    <div class="row-50 top">
        <h5 class="greeting" *ngIf="language == 'pt-br'">Bem-vindo à Abba Church</h5>
        <h5 class="greeting" *ngIf="language == 'en'">Welcome to Abba Church</h5>
        <h5 class="greeting" *ngIf="language == 'pt-br'">Site em construção. Estará pronto em breve...</h5>
        <h5 class="greeting" *ngIf="language == 'en'">Website is under construction. It will be ready soon...</h5>
    </div>

    <div class="spacer"></div>
  <!--   <div class="section-full grey">
    </div>
    <div class="section-full light-grey">
    </div>
    <div class="section-full blue">
    </div> -->
