.btn-primary:hover {
    background-color: #4f5f76 !important;  
    color: #fff !important;
    border-color: #4f5f76 !important;
}

.submit-button {
    background-color: #0f2862;
    color: #fff !important;
    border-color: #0f2862 !important;
    float: right;
}

h5 {
    color: #0f2862 !important;
}